numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
pydantic==2.12.5
python-dotenv==1.2.2
requests==2.33.1
scikit-learn==1.8.0
shap==0.51.0
tensorflow==2.16.1
torch==2.6.0
torchvision==0.21.0
uvicorn==0.43.0
Werkzeug==3.1.8
joblib
xgboost
fastapi