numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
pydantic==2.12.5
python-dotenv==1.2.2
requests==2.33.1
scikit-learn==1.5.2
shap==0.45.0
tensorflow==2.17.0
uvicorn==0.43.0
fastapi
joblib
xgboost
python-multipart
aiofiles
httpx